* {
  margin: 0;
  padding: 0;
}

body{
  color: #ffc266;
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

#myProgress {
  /* width: 99%; */
  background-color: #d9d9f2; 
  cursor: pointer;
  border-radius: 10px;
}

.progress-flot {
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}


#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffc266;
  border-radius: 10px;
}

.logo {
  fill: red;
}

.btn-action{
  cursor: pointer;
  padding-top: 10px;
  width: 30px;
}

.btn-ctn, .infos-ctn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn{
padding-top: 20px;
}


.btn-ctn > div {
 padding: 5px;
 /* margin-top: 18px;
 margin-bottom: 18px; */
}

.infos-ctn > div {
 margin-bottom: 8px;
 color: white;
}

.infos-ctn2 > div {
  margin-bottom: 8px;
  color: white;
 }

.first-btn{
  margin-left: 3px;
}

.duration{
  margin-left: 10px;
}

.title{
  margin-left: 10px;
  width: 210px;
  text-align: left;
  white-space: nowrap;
  color: white;
}

.titlebis{
  margin-left: 10px;
  width: 210px;
  text-align: left;
  white-space: nowrap;
  color: white;
  /* padding-bottom: px; */
  padding-top: 5px;
}

#page1 {
  background-color: #373737;
}

#page3 {
  background-color: #373737;
}

#page4 {
  background-color: #373737;
}

#page5 {
  background-color: #373737;
}

.player-ctn{
  /* border-radius: 15px; */
  /* width: 100%; */
  padding: 10px;
  /* background-color: #373737; */
  margin:0;
  padding-bottom: 150px;
  /* margin-top: 50px; */
}

.playlist-track-ctn{
  display: flex;
  background-color: #464646;
  margin-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-track-ctn > div{
  margin:10px;
}
.playlist-info-track{
  width: 80%;
}
.playlist-info-track,.playlist-duration{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #e9cc95;
  font-size: 14px;
  pointer-events: none;
}
.playlist-ctn{
   padding-bottom: 20px;
}
.active-track{
  background: #4d4d4d;
  color: #ffc266 !important;
  font-weight: bold;
  
}

.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
  color: #ffc266 !important;
}


.playlist-btn-play{
  pointer-events: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fas{
  color: #ffc266;
  font-size: 20px;
}

.title-album {
  /* color: black; */
  /* margin-top: 40px; */
  text-align: center;
  /* width: 100%; */
  padding: 10px;
}

.title-album img {
  width: 300px;
  height: 300px;
  margin-top: 25px; /* Adjust margin for vertical alignment */
  border-radius: 20px;
}

.title-album h1 {
  text-align: left;
}

.title-album h3 {
  text-align: left;
}

.title-album h5 {
  text-align: left;
}

#btn-flot {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3000;
  right: 5px;
}

#btn-left {
  margin-left: 80%;
  font-size: 48px;
}