#page1 {
    margin: 0;
    /* padding: 0; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: inherit; */
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 900;
    overflow-y: auto;
  }

  #page3 {
    margin: 0;
    /* padding: 0; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: inherit; */
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 900;
    overflow-y: auto;
  }

  #page4 {
    margin: 0;
    /* padding: 0; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: inherit; */
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 900;
    overflow-y: auto;
  }

  #page5 {
    margin: 0;
    /* padding: 0; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: inherit; */
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 900;
    overflow-y: auto;
  }

  .player-big {
    margin: 0;
    /* padding: 0; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    overflow-y: auto;
  }
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }