* {
  margin: 0;
  padding: 0;
}

.container2 {
    text-align: center;
  }
  .box {
    width: 350px;
    height: 370px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top; /* Ensures alignment of boxes */
    border-radius: 20px;
  }
  .box img {
    width: 300px;
    height: 300px;
    margin-top: 25px; /* Adjust margin for vertical alignment */
    border-radius: 20px;
  }

  .title-index {
    margin: 20px;
    margin-top: 40px;
  }